<div id="<%- name %>" class="form-group">
  <div class="col-xs-1">
    <button type="button" class="btn btn-danger remove-filter-button" data-filter="<%- name %>"><span class="glyphicon glyphicon-minus"></span></button>
  </div>
  <label class="col-xs-1 control-label filter-label" for="filter_name">Filter</label>
  <div class="col-xs-2">
    <input class="form-control" type="text" id="filter_name" value="Model" readonly/>
  </div>
  <label class="col-xs-1 control-label" for="input_model_app">Model</label>
  <div class="col-xs-2">
    <input class="form-control" id="input_model_app" type="text" name="model_app" placeholder="App" autocomplete/>
  </div>
  <div class="col-xs-2">
    <input class="form-control" id="input_model_name" type="text" name="model_name" placeholder="Name" autocomplete/>
  </div>
  <label class="col-xs-1 control-label" for="input_instance_id">Instance</label>
  <div class="col-xs-2">
    <input class="form-control" id="input_instance_id" type="text" name="instance_id" placeholder="ID" autocomplete/>
  </div>
</div>
