{% extends "audit/base.html" %}

{% load static i18n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "audit/css/model_action_search.css" %}">
{% endblock css %}

{% block content %}
  <div id="search" class="row search-box">
    <div class="col-xs-12">
      <form role="form" method="get" id="search_form" class="form-horizontal" action="{% url api_model_action_list %}" data-type="json">{% csrf_token %}
        <div class="form-group">
          <div class="col-xs-1">
            <button type="button" class="btn btn-danger remove-date-button" id="remove_date_from" data-target=".input_from">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>

          <label class="col-xs-1 control-label" for="input_date_from">From</label>

          <div class="col-xs-2">
            <div id="input_date_from" class="bfh-datepicker input_from" data-date="today" data-name="date_from_0" data-format="d/m/y"></div>
          </div>

          <div class="col-xs-2">
            <div id="input_time_from" class="bfh-timepicker input_from" data-time="00:00" data-name="date_from_1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-1">
            <button type="button" class="btn btn-danger remove-date-button" id="remove_date_to" data-target=".input_to">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>

          <label class="col-xs-1 control-label" for="input_date_to">To</label>

          <div class="col-xs-2">
            <div id="input_date_to" class="bfh-datepicker input_to" data-date="today" data-name="date_to_0" data-format="d/m/y"></div>
          </div>

          <div class="col-xs-2">
            <div id="input_time_to" class="bfh-timepicker input_to" data-time="23:59" data-name="date_to_1"></div>
          </div>
        </div>

        <div id="filters"></div>

        <div class="form-group">
          <div class="col-xs-1">
            <button type="button" class="btn btn-success add-filter-button" id="add_filter_button">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">
            <button type="submit" class="btn btn-primary" id="send_button">{% trans "Search" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="result" class="row">
    <div id="result_list" class="col-xs-12"></div>
    <div id="pagination" class="col-xs-12"></div>
  </div>
  {{ block.super }}
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script language="javascript" type="text/javascript" src="{% static 'audit/js/model_action_search.js' %}"></script>
  <script type="text/template" id="result_list_template">
    {% include "audit/search/model_action/list_model_action.html" %}
  </script>
  <script type="text/template" id="tab_detail_template">
    {% include "audit/search/model_action/tab_detail.html" %}
  </script>
  <script type="text/template" id="tab_changes_template">
    {% include "audit/search/model_action/tab_changes.html" %}
  </script>
  <script type="text/template" id="tab_process_template">
    {% include "audit/search/model_action/tab_process.html" %}
  </script>
  <script type="text/template" id="tab_access_template">
    {% include "audit/search/model_action/tab_access.html" %}
  </script>
  <script type="text/template" id="filter_model_template">
    {% include "audit/search/model_action/filter_model.html" %}
  </script>
  <script type="text/template" id="filter_method_template">
    {% include "audit/search/model_action/filter_method.html" %}
  </script>
  <script type="text/template" id="filter_url_template">
    {% include "audit/search/model_action/filter_url.html" %}
  </script>
  <script type="text/template" id="filter_user_template">
    {% include "audit/search/model_action/filter_user.html" %}
  </script>
  <script type="text/template" id="filter_interlink_template">
    {% include "audit/search/model_action/filter_interlink.html" %}
  </script>
{% endblock js %}