<%
function twoDigits (n) {
  return (n > 9 ? n : '0' + n);
};

var timestamp = new Date(data.creation_time.$date);
var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
%>
<table class="table table-hover">
  <tbody>
  <tr class="active">
    <th width="15%"></th>
    <th colspan="2">Process</th>
  </tr>
  <tr>
    <th width="15%">Name</th>
    <td colspan="2"><%= data.name %></td>
  </tr>
  <tr>
    <th width="15%">Arguments</th>
    <td colspan="2"><%= data.args %></td>
  </tr>
  <tr>
    <th width="15%">Machine</th>
    <td colspan="2"><%= data.machine %></td>
  </tr>
  <tr>
    <th width="15%">PID</th>
    <td colspan="2"><%= data.pid %></td>
  </tr>
  <tr>
    <th width="15%">Creation Time</th>
    <td></td>
  </tr>
  <tr>
    <th width="15%"></th>
    <th width="15%">Year</th>
    <td><%= timestamp.getFullYear() %></td>
  </tr>
  <tr>
    <th width="15%"></th>
    <th width="15%">Month</th>
    <td><%= monthNames[timestamp.getMonth()] %></td>
  </tr>
  <tr>
    <th width="15%"></th>
    <th width="15%">Day</th>
    <td><%= dayNames[timestamp.getDate()] %></td>
  </tr>
  <tr>
    <th width="15%"></th>
    <th width="15%">Time</th>
    <td><%- twoDigits(timestamp.getHours()) %>:<%- twoDigits(timestamp.getMinutes()) %>:<%- twoDigits(timestamp.getSeconds()) %></td>
  </tr>
  <tr>
    <th width="15%"></th>
    <th width="15%">Timezone</th>
    <%
    var timezone = -(timestamp.getTimezoneOffset() / 60);
    if (timezone >= 0) {
      strTimezone = "GMT+" + timezone;
    } else {
      strTimezone = "GMT" + timezone;
    }
    %>
    <td><%= strTimezone %></td>
  </tr>
  <tr>
    <th width="15%">User</th>
    <td colspan="2"><%= data.user %></td>
  </tr>  <% if (data.interlink_id) { %>
  <tr class="active">
    <th width="15%"></th>
    <th colspan="2">Interlink</th>
  </tr>
  <tr>
    <th width="15%">ID</th>
    <td colspan="2"><%= data.interlink_id %></td>
  </tr>
  <% } %>
  </tbody>
</table>