<%
function twoDigits(n) {
return (n > 9 ? n : '0' + n);
};

function truncate(str, chars) {
  return (str.length > chars) ? (jQuery.trim(str).substring(0, chars).trim(this) + "...") : str;
};

var item_id = 'item_' + id;
var detail_id = 'detail_' + id;

var label_class = "label ";
if (data.action == 'create') {
  label_class += 'label-success';
} else if (data.action == 'update') {
  label_class += 'label-warning';
} else {
  label_class += 'label-danger';
}
%>

<div class="panel-heading" data-toggle="collapse" data-target="#<%- item_id %>">
  <div class="panel-title row">
    <%
    var d = new Date(data.timestamp);
    var day = twoDigits(d.getUTCDate());
    var month = twoDigits(d.getUTCMonth() + 1);
    var hours = twoDigits(d.getUTCHours());
    var minutes = twoDigits(d.getUTCMinutes());
    var seconds = twoDigits(d.getUTCSeconds());
    var strTimestamp = day + '/' + month + '/' + d.getFullYear() + ' - ' + hours + ':' + minutes + ':' + seconds + ' (UTC)';
    %>
    <div class="col-xs-3">
      <h4><%= data.model.name %></h4>
    </div>
    <div class="col-xs-2">
      <h4><%= data.instance.id %></h4>
    </div>
    <div class="col-xs-2">
      <h4><span class="<%- label_class %>"><%= data.action %></span></h4>
    </div>
    <div class="col-xs-5">
      <h4><%= strTimestamp %></h4>
    </div>
  </div>
</div>
<div id="<%- item_id %>" class="panel-collapse collapse out">
  <div class="panel-body">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li><a data-target="<%- id %>" class="changes_tab" role="tab" data-toggle="tab">Changes</a></li>
      <li><a data-target="<%- id %>" class="detail_tab" role="tab" data-toggle="tab">Detail</a></li>
      <li><a data-target="<%- id %>" class="access_tab" role="tab" data-toggle="tab">Access</a></li>
      <li><a data-target="<%- id %>" class="process_tab" role="tab" data-toggle="tab">Process</a></li>
    </ul>
    <div class="tab-content">
      <div id="<%- detail_id %>" class="tab-pane active"></div>
    </div>
  </div>
</div>
